*{
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.75em;
}

.container{
    width: 100%;
}

.container>div{
    position: relative;
}

.box-content{
    background: gray;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    height: 180px;
    overflow: auto;
}

.box-title{
    position: absolute;
    border: 2px solid black;
    width: 33.33%;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 10px;
    top: 10px;
    right: 10px;
}

.container>div{
    float: left;
}

#title-1{
    color: black;
    background-color: lightpink;
}

#title-2{
    color: white;
    background-color: firebrick;
}

#title-3{
    color: black;
    background-color: navajowhite;
}

#p1, #p2, #p3{
    text-align: left;
    margin-top: 50px;
}

@media (min-width: 992px){
    .col-md-4{
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-sm-6{
        width: 50%;
    }
    
    .col-sm-12{
        width: 100%;
    }
}

@media (max-width: 767px){
    .col-xs-12{
        width: 100%
    }
}
